<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'surveys')}">


<body>

<h2>Survey</h2>
<form th:object="${survey}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('PostedOn Date', 'PostedOn', 'date')}" />
        <input
                th:replace="~{fragments/inputField :: input ('PostedOff Date', 'PostedOff', 'date')}" />

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${survey['new']} ? 'Add Survey' : 'Update Survey'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                Survey</button>
        </div>
    </div>
</form>



</body>
</html>