<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'surveys')}">
<head>
    <script>
        function addInputLine() {
            var node = document.createElement("input");                 // Create an <input> node
            document.getElementById("parentElement").appendChild(node);     // Append it to the parent
        }
    </script>
</head>

<body>


<h2>Survey Information</h2>


<table class="table table-striped" th:object="${survey}">
    <tr>
        <th>Title</th>
        <td><b th:text="*{title}"></b></td>
    </tr>
    <tr>
        <th>Date of Creation</th>
        <td th:text="*{#dates.format(creationDate, 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
    <tr>
        <th>PostedOn</th>
        <td th:text="*{#dates.format(postedOn, 'dd-MM-yyyy')}"></td>
    </tr>
    <tr>
        <th>PostedOff</th>
        <td th:text="*{#dates.format(postedOff, 'dd-MM-yyyy')}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="*{description}"></td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${survey.id})}" class="btn btn-default">Edit
    Survey</a>
<a th:href="@{{id}/questions/new(id=${survey.id})}" class="btn btn-default">Add
    Question</a>

<br />
<br />
<br />
<h2>List of Questions</h2>

<table class="table table-striped">

    <tr th:each="question : ${survey.questions}">
        <td valign="top">
            <dl class="dl-horizontal">
                <dt>Text</dt>
                <dd th:text="${question.text}"></dd>

                <dt>Type</dt>
                <dd th:text="${question.questionType}"></dd>
            </dl>
        </td>
        <td valign="top">
            <table class="table-condensed">
                <thead>
                <tr>
                    <th>Options</th>

                </tr>
                </thead>
                <tr th:each="option : ${question.options}">

                    <td th:text="${option.getContent()}"></td>
                </tr>
                <tr>
                    <td><a
                            th:href="@{{surveyId}/questions/{questionId}/edit(surveyId=${survey.id},questionId=${question.id})}">Edit
                        Question</a></td>
                    <td><a
                            th:href="@{{surveyId}/questions/{questionId}/options/new(surveyId=${survey.id},questionId=${question.id})}">Add
                        Option</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

</body>



</html>